<configuration>
	<system.runtime.remoting>
		<customErrors mode="off"/>
	</system.runtime.remoting>
	<system.diagnostics>
		<switches>
			<add name="AssertSwitch" value="1"/>
			<add name="LogSwitch" value="4"/>
		</switches>
	</system.diagnostics>
	<appSettings>
		<add key="DefaultDirectory" value=""/>
		<add key="P" value="11"/>
		<add key="ProxyAddress" value=""/>
		<add key="ProxyBypassList" value=""/><!-- Separate with semicolons -->
		<add key="NoSound" value="false"/>
		<add key="MultiplayerBasePort" value="20172"/><!-- Define a contiguous set of multiplayer ports that are available -->
		<add key="MultiplayerPortCount" value="10"/>
		<add key="ClientDrawStepPeriod" value="250"/>
		<add key="PasswordsForMultiplayer" value="false"/>
		<add key="SupportedLanguageCodes" value=""/>
		<add key="SupportedLanguageNames" value=""/>
		<add key="PreferredLanguageCode" value=""/>
		<add key="ScoreAdapterServerName" value=""/>
	</appSettings>
</configuration>
